.nav-item{
  a {
    text-decoration: none;
    color: white;
  }
}
p.nav-brand{
  a {
    text-decoration: none !important;
    color: transparent;
  }
}
.logout-btn:hover{
  text-decoration: underline;
}